<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
		<add name="MyConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;
                               Initial Catalog=Vegetables and Fruits;
                               Integrated Security=True"/>
	</connectionStrings>



	<appSettings>
		<!-- Задание 3 -->
		<!-- Отображение всей информации из таблицы -->
		<add key="SelectAllVegAndFr" value="SELECT * FROM Table_Vegetables_and_Fruits" />
		<!-- Отображение всех названий овощей и фруктов -->
		<add key="SelectAllTitles" value="SELECT Title FROM Table_Vegetables_and_Fruits" />
		<!-- Отображение всех цветов -->
		<add key="SelectAllColours" value="SELECT Сolour FROM Table_Vegetables_and_Fruits" />
		<!-- Показать максимальную калорийность -->
		<add key="MaxCalories" value="SELECT MAX(Calories) AS MaxCalories FROM Table_Vegetables_and_Fruits" />
		<!-- Показать минимальную калорийность -->
		<add key="MinCalories" value="SELECT MIN(Calories) AS MinCalories FROM Table_Vegetables_and_Fruits" />
		<!-- Показать среднюю калорийность -->
		<add key="AvgCalories" value="SELECT AVG(Calories) AS AvgCalories FROM Table_Vegetables_and_Fruits" />

		<!-- Задание 4 -->
		<!-- Показать количество овощей -->
		<add key="CountVegetables" value="SELECT COUNT(*) AS VegetableCount FROM Table_Vegetables_and_Fruits WHERE Type = 'Овощ'" />
		<!-- Показать количество фруктов -->
		<add key="CountFruits" value="SELECT COUNT(*) AS FruitCount FROM Table_Vegetables_and_Fruits WHERE Type = 'Фрукт'" />
		<!-- Показать количество овощей и фруктов заданного цвета -->
		<add key="CountVegFrByColor" value="SELECT Type, COUNT(*) AS Count FROM VegetablesAndFruits WHERE Color = @Цвет GROUP BY Type" />
		<!-- Показать количество овощей и фруктов каждого цвета -->
		<add key="CountVegAndFrColor" value="SELECT Color, Type, COUNT(*) AS Count FROM VegetablesAndFruits GROUP BY Color, Type" />
		<!-- Показать овощи и фрукты с калорийностью ниже указанной -->
		<add key="SelectVegAndFrByCalories" value="SELECT Title, Type FROM VegetablesAndFruits WHERE Calories &lt; @УказаннаяКалорийность" />
		<!-- Показать овощи и фрукты с калорийностью в указанном диапазоне -->
		<add key="SelectVegAndFrByCaloriesRange" value="SELECT Title, Type FROM VegetablesAndFruits WHERE Calories BETWEEN @MinКалорийность AND @MaxКалорийность" />
		<!--  Показать все овощи и фрукты, у которых цвет желтый или красный -->
		<add key="SelectVegAndFrByColor" value="SELECT Title, Type FROM VegetablesAndFruits WHERE Color IN ('желтый', 'красный')" />
	</appSettings>


</configuration>