<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
		<add name="MyConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;
                               Initial Catalog=Vegetables and Fruits;
                               Integrated Security=True"/>
	</connectionStrings>
	
	<customSections>
		<queries>
			<!-- Задание 3 -->
			<!-- Отображение всей информации из таблицы -->
			<add name="SelectAllVegAndFr" value="SELECT * FROM Table_Vegetables_and_Fruits"/>
			<!-- Отображение всех названий овощей и фруктов -->
			<add name="SelectAllTitles" value="SELECT Title FROM Table_Vegetables_and_Fruits"/>
			<!-- Отображение всех цветов -->
			<add name="SelectAllColours" value="SELECT Сolour FROM Table_Vegetables_and_Fruits"/>
			<!-- Показать максимальную калорийность -->
			<add name="MaxCalories" value="SELECT MAX(Calories) AS MaxCalories FROM Table_Vegetables_and_Fruits"/>
			<!-- Показать минимальную калорийность -->
			<add name="MinCalories" value="SELECT MIN(Calories) AS MinCalories FROM Table_Vegetables_and_Fruits"/>
			<!-- Показать среднюю калорийность -->
			<add name="AvgCalories" value="SELECT AVG(Calories) AS AvgCalories FROM Table_Vegetables_and_Fruits"/>

			<!-- Задание 4 -->
			<!-- Показать количество овощей -->
			<add name="CountVegetables" value="SELECT COUNT(*) AS VegetableCount FROM Table_Vegetables_and_Fruits WHERE Type = 'Овощ'"/>
			<!-- Показать количество фруктов -->
			<add name="CountFruits" value="SELECT COUNT(*) AS FruitCount FROM Table_Vegetables_and_Fruits WHERE Type = 'Фрукт'"/>
			<!-- Показать количество овощей и фруктов заданного цвета -->
			<add name="CountVegFrByColor" value="SELECT Type, COUNT(*) AS Count FROM VegetablesAndFruits WHERE Color = @Цвет GROUP BY Type"/>
			<!-- Показать количество овощей и фруктов каждого цвета -->
			<add name="CountVegAndFrColor" value="SELECT Color, Type, COUNT(*) AS Count FROM VegetablesAndFruits GROUP BY Color, Type"/>
			<!-- Показать овощи и фрукты с калорийностью ниже указанной -->
			<add name="SelectVegAndFrByCalories" value="SELECT Title, Type FROM VegetablesAndFruits WHERE Calories &lt; @УказаннаяКалорийность"/>
			<!-- Показать овощи и фрукты с калорийностью в указанном диапазоне -->
			<add name="SelectVegAndFrByCaloriesRange" value="SELECT Title, Type FROM VegetablesAndFruits WHERE Calories BETWEEN @MinКалорийность AND @MaxКалорийность"/>
			<!--  Показать все овощи и фрукты, у которых цвет желтый или красный -->
			<add name="SelectVegAndFrByColor" value="SELECT Title, Type FROM VegetablesAndFruits WHERE Color IN ('желтый', 'красный')"/>
		</queries>
	</customSections>



</configuration>